* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    border: 0px solid;
    height: 90vh;
    display: flex;
    flex-direction: column;
}


  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }

  button:hover span {
    transform: translateX(7px);
  }

.blob {
    border: 0px solid black;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.status-display {
  border: 0px solid cadetblue;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-display p {
  padding-left: 60px;
  animation: ease-in;
  font-size: 3.4rem;
}
